@import "color.css";

/**
 * This file contains all the uniform styling that all scenes will share and that is not specific to a certain Scene.
 */

* {
	-fx-font-family: "Lucida Sans";
}

.label {
	-fx-font-size: 16;
	-fx-text-fill: -fx-black;
}

.title {
	-fx-font-size: 32;
	-fx-text-fill: -fx-secondary;
}

.cell {
	-fx-background-color: -fx-white;
	-fx-border-width: 0 2 0 4;
	-fx-border-color: transparent;
}

.cell:hover {
	-fx-border-color: -fx-secondary;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-background: transparent;
}

.list-base {
	-fx-background-color: -fx-light-grey;
	-fx-border-radius: 0 0 8 8;
	-fx-border-width: 4 0 0 0;
	-fx-border-color: -fx-secondary;
	-fx-background-radius: 0 0 8 8;
}

.root {
	-fx-background-color: -fx-white;
}

 .text-field {
 	-fx-border-width: 0.0 0.0 2.0 0.0;
 	-fx-border-color: -fx-secondary;
 	-fx-background-radius: 4 4 0 0;
 	-fx-border-insets: 0.0 4.0 0.0 4.0;
 	-fx-background-color: -fx-white;
 	-fx-background-insets: 0.0 4.0 0.0 4.0;
 	-fx-font-size: 16.0;
	-fx-font-family: "Lucida Sans";
 }
 
 .button {
	-fx-background-color: -fx-white;
	-fx-border-color: -fx-secondary;
	-fx-border-width: 2;
	-fx-border-radius: 4.0;
	-fx-background-radius: 4.0;
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-font-family: Lucida Sans;
	-fx-font-size: 16.0;
	-fx-cursor: hand;
}

.button:hover {
	-fx-text-fill: -fx-white;
	-fx-background-color: -fx-secondary;
}

.button:pressed {
	-fx-background-color: -fx-white;
	-fx-border-color: -fx-secondary;
	-fx-text-fill: -fx-white;
	-fx-cursor: closed_hand;
}